/* 
font-family: "Red Hat Display", sans-serif; 
font-weights: 500, 700, 900
*/

:root {
  box-sizing: border-box;

  /* Colors */
  --clr-primary-pale: hsl(225, 100%, 94%);
  --clr-primary-bright: hsl(245, 75%, 52%);

  --clr-neutral-very-pale: hsl(225, 100%, 98%);
  --clr-neutral-desaturated: hsl(224, 23%, 55%);
  --clr-neutral-dark: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;

  font-family: "Red Hat Display", sans-serif;

  background-color: var(--clr-primary-pale);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  display: flex;
  flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card * {
  margin: 0;
}

.card {
  width: min(90%, 25rem);
  margin: 1rem;
  background-color: white;
  border-radius: 1.25rem;
  overflow: hidden;
}

.cardBody {
  padding-block: 2rem;
  padding-inline: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.cardText {
  text-align: center;
}

.cardText h1 {
  font-size: 1.33rem;
  font-weight: 900;
  color: var(--clr-neutral-dark);
  margin-block-end: 1rem;
}

.cardText p {
  color: var(--clr-neutral-desaturated);
  padding-inline: 0.5rem;
}

.cardPlan {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;

  background-color: var(--clr-neutral-very-pale);
  border-radius: 0.75rem;
  padding: 1rem;
}

.cardPlan h2 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--clr-neutral-dark);
}

.cardPlan p {
  color: var(--clr-neutral-desaturated);
}

.cardPlan a {
  margin-inline-start: auto;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--clr-primary-bright);
}

.cardPlan a:hover,
.cardPlan a:focus {
  color: var(--clr-neutral-desaturated);
  text-decoration: none;
}

.cardOrder a {
  display: block;
  text-align: center;
}

.btn {
  text-align: center;
  text-decoration: none;
  border-radius: 0.75em;
  padding-block: 0.8em;
  box-shadow: 0 0.75rem 10px 0.5rem var(--clr-primary-pale);
}

.btn--payment {
  background-color: var(--clr-primary-bright);
  font-weight: 700;
  color: white;
}

.btn--payment:hover,
.btn--payment:focus {
  background-color: var(--clr-neutral-desaturated);
}

.btn--payment:focus-visible {
  outline: 2px solid black;
  outline-offset: 3px;
}

.cardOrder a:first-child {
  margin-block-end: 1.5rem;
}

a.cancelOrder {
  font-weight: 700;
  color: var(--clr-neutral-desaturated);
  text-decoration: none;
}

a.cancelOrder:hover,
a.cancelOrder:focus {
  color: var(--clr-neutral-dark);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 45rem) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .cardBody {
    padding-inline: 2.75rem;
    margin-inline: auto;
  }
}
