/* 
font-family: "Red Hat Display", sans-serif; 
font-weights: 500, 700, 900
*/

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;

  font-family: "Red Hat Display", sans-serif;

  display: flex;
  flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
